// _styles.scss
@import '@/styles/styles';

%button {
    min-height: 45px;
    border-radius: 10px;
    border-style: hidden;
    @extend %display-flex-align-items-center-justify-content-center;
}

%button-text {
    font-size: 17px;
    font-weight: 600;
}

.structure {
    @extend %display-flex-flex-direction-column;
    gap: 10px;

    &__category {

        &__text {
            margin: 0;
            font-size: 17px;
            font-weight: 600;
            color: $Primary;

            &--modifier {
                font-weight: 500;
            }
        }
    }

    &__product {
        @extend %display-flex;
        min-height: 500px;
        max-height: 500px;
        gap: 65px;

        &__image {
            min-width: 30%;
            max-width: 50%;

            img {
                min-width: 100%;
                max-width: 100%;
                height: 500px;
                border-radius: 15px;
            }
        }

        &__product-detail {
            position: relative;
            min-width: 40%;
            max-width: 50%;
            min-height: 500px;
            max-height: 500px;
            @extend %display-flex-flex-direction-column;

            &__first {
                @extend %display-flex-flex-direction-column;
                gap: 2px;
                
                &__name {
                    font-size: 40px;
                    font-weight: 600;
                    color: $Dark;
                }

                &__brand {
                    font-size: 25px;
                    font-weight: 500;
                    color: $Type-Low-Emphasis;
                }
            }

            &__second {
                padding: 10px 0px 10px 0px;

                &__price {
                    font-size: 40px;
                    font-weight: 700;
                    color: $Type-High-Emphasis;
                }
            }

            &__divider {
                min-width: 100%;
                min-height: 2px;
                margin-bottom: 15px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.12);
            }

            &__third {
                @extend %display-flex-flex-direction-column;
                gap: 15px;
                
                &__description {
                    max-width: 130px;
                    min-height: 35px;
                    background-color: $Primary;
                    border-radius: 10px;
                    @extend %display-flex-align-items-center-justify-content-center;
                }

                &__text {
                    font-size: 16px;
                    font-weight: 500;
                    color: $Bright;

                    &--modifier {
                    font-size: 16px;
                    font-weight: 500;
                    color: $Type-Low-Emphasis;
                    line-height: 25px;
                    }
                }
            }

            &__fourth {
                margin-top: 20px;
                min-width: 100%;
                max-height: auto;
                @extend %display-flex;
                gap: 5%;

                &__button-purchase {
                    min-width: 100%;
                    background-color: $Highlight;
                    @extend %button;
                    gap: 7px;

                    .bi-bag {
                        font-size: 20px;
                        color: $Bright;
                    }

                    &__text {
                        @extend %button-text;
                        color: $Bright;
                    }

                    &--not-able {
                        min-width: 55%;
                        background-color: $Highlight;
                        @extend %button;
                        opacity: 0.6;
                        gap: 7px;
    
                        .bi-bag {
                            font-size: 20px;
                            color: white;
                        }
    
                        &__text {
                            @extend %button-text;
                            color: $Bright;
                        }
                    }
                }

                &__button-cart {
                    min-width: 35%;
                    background-color: $Primary-Tint;
                    @extend %button;
                    gap: 7px;

                    .fa-cart-shopping {
                        font-size: 17px;
                        color: white;
                    }
                }

                &__button-login {
                    min-width: 40%;
                    background-color: transparent !important;
                    border: 2px solid $Primary !important;
                    padding: 0px 15px 0px;
                    @extend %button;
                    @extend %display-flex-align-items-center-justify-content-center;

                    &__text {
                        @extend %button-text;
                        color: $Primary;
                    }
                }

            }
        }


    }
}