// _styles.scss
@import '@/styles/styles';

// Extend

%icons {
    position: absolute;
    font-size: 20px;
    color: $Input;
}

// Mixin

@mixin alert {
    position: absolute;
    min-width: 1220px;
    min-height: 48px;
    border-radius: 7px 7px 0px 0px;
    transition: opacity .50s;
    opacity: 1;
}

@mixin form {
    position: relative;
    min-width: 1220px;
    max-width: 1220px;
    min-height: 750px;
    max-height: 750px;
    margin: 35px auto auto auto;
    @extend %display-flex;
    border-radius: 25px;
}

@mixin left-side {
    min-width: 60%;
    min-height: 100%;
    @extend %display-flex-align-items-center-justify-content-center;
    border-radius: 25px 0px 0px 25px;
}
@mixin image {
    min-width: 280px;
    max-height: 290px;
}

@mixin button-principal {
    all: unset;
    max-width: 100%;
    min-height: 40px;
    margin-top: 17px;
    border-radius: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: $Bright;
}

@mixin button-secundary {
    all: unset;
    min-width: 100%;
    min-height: 40px;
    border-radius: 40px;
    border: 1px solid $Dark;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: $Dark;
}

@mixin circle-big {
    min-height: 26px;
    min-width: 25px;
    border-radius: 50%;
}

.background {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: $Dark;
}

.alert {

    &--error {
        @include alert;
        background-color: $Error;
    }

    &--success {
        @include alert;
        background-color: $Succes;
    }

    &--hidden {
        opacity: 0;
    }

    &__container {
        @extend %display-flex-align-items-center;
        justify-content: space-between;
        padding: 0px 13px 0px 17px;

        &__first {
            @extend %display-flex-align-items-center;
            gap: 15px;

            i {
                font-size: 17px;
                color: $Accent;
            }

            p {
                color: $Accent;
                font-size: 14px;
                font-weight: 400;
            }
        }

        &__second {
            i {
                font-size: 18px;
                color: $Accent;
            }
        }
    }
}

.form {
    @include form;

    &--register-product {
        @include form;
        box-shadow: $Highlight 0px 2px 20px 0px;
    }

    &__left-side {

        &--signup {
            @include left-side;
            background-color: $Highlight;
        }

        &--login {
            @include left-side;
            background-color: $Primary-Tint;
        }

        &--register-product {
            @include left-side;
            background-color: $Dark
        }

        &__structure {
            @extend %display-flex-flex-direction-column;
            min-width: 310px;
            max-width: 310px;
            height: auto;
        }

        &__image {

            &--signup {
                @include image;
                margin: 0px 0px 25px 30px;
                transform: rotate(8deg);
            }

            &--login {
                @include image;
                margin-bottom: 30px;
                transform: rotate(-40deg);
            }

            &--register-product {
                @include image;
                margin: 0px 28px 7px 0px;
            }
        }

        &__text--title {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            color: $Bright;
        }

        &__text--subtitle {
            margin-bottom: 30px;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            color: $Bright;
        }

        &__circle {
            min-width: 100%;
            height: auto;
            @extend %display-flex-justify-content-center;

            &--big {
                @include circle-big;
                background-color: $Type-High-Emphasis;

                &--register-product {
                    @include circle-big;
                    background-color: $Type-Low-Emphasis;
                }
            }

            &--small {
                position: absolute;
                margin-top: 7px;
                min-width: 11px;
                min-height: 11px;
                border-radius: 50%;
                background-color: $Bright;
            }
        }
    }

    &__right-side {
        min-width: 40%;
        min-height: 100%;
        border-radius: 0px 25px 25px 0px;
        @extend %display-flex-align-items-center-justify-content-center;
        background-color: $Bright;

        &__structure {
            min-width: 360px;
            max-width: 360px;
            height: auto;
            @extend %display-flex-flex-direction-column;

        }

        &__title {
            width: 100%;
            height: 30px;
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            color: $Type-High-Emphasis;
        }

        &__inputs {
            @extend %display-flex-flex-direction-column;
            gap: 15px;
            margin-bottom: 24px;
            
            &__input {
                all: unset;
                position: relative;
                max-width: 100%;
                min-height: 40px;
                padding-left: 36px;
                border-radius: 8px;
                border: 2px solid $Light-Text;
                align-items: center;
                font-size: 16px;
                color: $Input;
            }

            // Signup
            .bi-card-text {
                @extend %icons;
                margin: 10px 0px 0px 10px;
            }

            .bi-card-text-2 {
                margin: 70px 0px 0px 10px;
            }

            .bi-person {
                @extend %icons;
                font-size: 23px;
                margin: 126px 0px 0px 10px;
            }

            .fa-envelope {
                @extend %icons;
                margin: 190px 0px 0px 10px;
            }

            .bi-envelope {
                @extend %icons;
                margin: 187px 0px 0px 10px;
            }

            .bi-key {
                @extend %icons;
                margin: 247px 0px 0px 10px;
                font-size: 21px;
            }

            // Login
            .bi-envelope-login {
                margin: 11px 0px 0px 10px;
            }
            
            .bi-key-login {
                margin: 70px 0px 0px 10px;
            }

            // Register product
            .bi-box-seam {
                @extend %icons;
                margin: 11px 0px 0px 10px;
            }

            .bi-currency-dollar {
                @extend %icons;
                margin: 129px 0px 0px 11px;
            }

            .bi-tags {
                @extend %icons;
                margin: 189px 0px 0px 13px;
            }

            .bi-c-circle {
                @extend %icons;
                margin: 247px 0px 0px 12px
            }

            .bi-image {
                @extend %icons;
                margin: 306px 0px 0px 11px
            }

            &__button-principal {

                &--signup {
                    @include button-principal;
                    background-color: $Highlight;
                }
                
                &--login { 
                    @include button-principal;
                    background-color: $Primary-Tint;
                }
                
                &--register-product {
                    @include button-principal;
                    background-color: $Dark;
                }
            }
        }

        &__text-low {
            max-width: 100%;
            margin-bottom: 16px;
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            color: $Input;
        }

        &__button-secundary {
            @include button-secundary;
        }
    }
}
