// _styles.scss
@import '@/styles/styles';

// Extend

%icons {
    position: absolute;
    font-size: 20px;
    color: rgb(129 121 121);
}

// Mixin

@mixin left-side {
    min-width: 60%;
    min-height: 100%;
    @extend %display-flex-align-items-center-justify-content-center;
    border-radius: 25px 0px 0px 25px;
}
@mixin image {
    min-width: 280px;
    max-height: 290px;
}

@mixin button-principal {
    all: unset;
    max-width: 100%;
    min-height: 40px;
    margin-top: 17px;
    border-radius: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: $Bright;
}


.background {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: $Dark;
}

.form {
    position: relative;
    min-width: 1220px;
    max-width: 1220px;
    min-height: 750px;
    max-height: 750px;
    margin: 45px auto auto auto;
    @extend %display-flex;
    border-radius: 25px;

    &__left-side {
        @include left-side;
        background-color: $Highlight;

        &--login {
            @include left-side;
            background-color: $Primary-Tint;
        }

        &__structure {
            @extend %display-flex-flex-direction-column;
            min-width: 310px;
            max-width: 310px;
            height: auto;
        }

        &__image {
            @include image;
            margin-bottom: 25px;
            margin-left: 30px;
            transform: rotate(8deg);

            &--login {
                @include image;
                margin-bottom: 30px;
                transform: rotate(-40deg);
            }
        }

        &__text--title {
            font-size: 25px;
            font-weight: 500;
            color: $Bright;
            text-align: center;
            margin-bottom: 10px;
        }

        &__text--subtitle {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 30px;
            text-align: center;
            color: $Bright;
        }

        &__circle {
            min-width: 100%;
            height: auto;
            @extend %display-flex-justify-content-center;

            &--big {
                min-height: 26px;
                min-width: 25px;
                border-radius: 50%;
                background-color: $Type-High-Emphasis;
            }

            &--small {
                position: absolute;
                margin-top: 7px;
                min-width: 11px;
                min-height: 11px;
                border-radius: 50%;
                background-color: $Bright;
            }
        }
    }

    &__right-side {
        min-width: 40%;
        min-height: 100%;
        border-radius: 0px 25px 25px 0px;
        @extend %display-flex-align-items-center-justify-content-center;
        background-color: $Bright;

        &__structure {
            min-width: 360px;
            max-width: 360px;
            height: auto;
            @extend %display-flex-flex-direction-column;

        }

        &__title {
            width: 100%;
            height: 30px;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            color: $Type-High-Emphasis;
        }

        &__inputs {
            @extend %display-flex-flex-direction-column;
            gap: 15px;
            margin-bottom: 24px;
            
            &__input {
                all: unset;
                position: relative;
                max-width: 100%;
                min-height: 40px;
                max-height: 40px;
                align-items: center;
                border-radius: 8px;
                padding-left: 36px;
                border: 2px solid $Light-Text;
                font-size: 16px;
                color: rgb(129 121 121);
            }

            .bi-card-text {
                @extend %icons;
                margin: 10px 0px 0px 10px;
            }

            .bi-card-text-2 {
                margin: 70px 0px 0px 10px;
            }

            .bi-person {
                @extend %icons;
                font-size: 23px;
                margin: 126px 0px 0px 10px;
            }

            .fa-envelope {
                @extend %icons;
                margin: 190px 0px 0px 10px;
            }

            .bi-envelope {
                @extend %icons;
                margin: 187px 0px 0px 10px;
            }

            // Login
            .bi-envelope-login {
                margin: 11px 0px 0px 10px;
            }

            .bi-key {
                @extend %icons;
                margin: 247px 0px 0px 10px;
                font-size: 21px;
            }
            
            // Login
            .bi-key-login {
                margin: 70px 0px 0px 10px;
            }

            &__button-principal {
                @include button-principal;
                background-color: $Highlight;
                
                &--login { 
                    @include button-principal;
                    background-color: $Primary-Tint;
                }
            }
        }

        &__text-low {
            max-width: 100%;
            margin-bottom: 16px;
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            color: rgb(129 121 121);
        }

        &__button-secondary {
            all: unset;
            min-width: 100%;
            min-height: 40px;
            border-radius: 40px;
            border: 1px solid $Dark;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            color: $Dark;
        }
    }
}
