// Typography

$Display-Large: 58px;
$Display-Medium: 25px;
$Logo: 25px;
$Display-Small: 20px;
$Body: 16px;
$Label-large: 15px;
$Label-Medium: 12px;

// Colors

$Primary: rgba(27, 75, 102, 1);
$Primary-Tint: rgba(99, 149, 153, 1);
$Error: rgba(176, 0, 32, 1);
$Highlight: rgba(255, 140, 75, 1);
$Accent: rgba(244, 244, 244, 1);
$Dark: rgba(19, 16, 30, 1);
$Bright: rgba(255, 255, 255, 1);
$Grey: rgba(241, 241, 241, 1);
$Light-Text: rgba(182, 182, 182, 1);
$Type-High-Emphasis: rgba(23, 21, 32, 1);
$Type-Low-Emphasis: rgba(98, 98, 98, 1);
$Tranparent: rgba(222, 222, 222, 0.7);

// Extends

%display-flex {
    display: flex;
}

%display-flex-justify-content-center {
    display: flex;
    justify-content: center;
}

%display-flex-align-items-center {
    display: flex;
    align-items: center;
}

%display-flex-align-items-center-justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%display-flex-flex-direction-column {
    display: flex;
    flex-direction: column;
}