@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

// Styles
@import './styles';

// Font
$myFont: 'Inter', sans-serif;

%initial-settings {
    margin: 0;
    padding: 0;
    min-width: 100vh;
    min-height: 100vh;
}

html {
    font-family: $myFont !important; 
}

body {
    @extend %initial-settings;
}

// Scroll Body Bar
body::-webkit-scrollbar {
    width: 12px;
  }
  
body::-webkit-scrollbar-track {
    background: $Light-Text;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: $Primary;
    border-radius: 20px;
}

#root {
    @extend %initial-settings;
}

a {
    color: inherit;
    text-decoration: inherit;
}