// _styles.scss
@import '@/styles/styles';

// Mixins

@mixin button-login {
    all: unset;
    min-width: 80px;
    min-height: 36px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

@mixin button-signup {
    all: unset;
    min-width: 80px;
    min-height: 36px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: $Bright;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 100%;
    min-height: 80px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 15px;
    @extend %display-flex;
    background-color: $Bright;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    &__first-side {
        min-width: 50%;
        @extend %display-flex-align-items-center;
        gap: 36px;

        a {
            @extend %display-flex-align-items-center;
            gap: 7px;
        }

        &__logo {
            width: auto;
            min-height: 30px;

            &__image {
                max-height: 30px;
                transform: rotate(10deg);

                &--login {
                    max-height: 30px;
                    transform: rotate(-25deg);
                    margin-bottom: 5px;
                }
            }

            &__text-logo {
                font-size: $Logo;
                font-weight: 600;
                color: $Dark;
            }
        }

        &__categories {
            @extend %display-flex;
            gap: 15px;

            &__text-category {
            color: $Type-High-Emphasis;
            font-size: $Body;
            font-weight: 500;
            }
        }
    }

    .nav-second-side {
        min-width: 50%;
        @extend %display-flex-align-items-center;
        justify-content: flex-end;
        gap: 30px;

        &__searcher {
            position: relative;
            min-width: 365px;
            min-height: 45px;
            background-color: rgba(241, 241, 241, 1);

            &__input {
                all: unset;
                position: absolute;
                top: 2px;
                left: 40px;
                min-width: 310px;
                min-height: 40px;
                border-style: none;
                font-size: $Label-large;
                color: $Type-Low-Emphasis;
            }

            &__button-search {
                all: unset;
                position: absolute;
                left: 10px;
                top: 9px;
                min-width: 25px;
                min-height: 25px;

                .fa-magnifying-glass {
                    color: $Type-High-Emphasis;
                }
            }
        }

        &__buttons {
            @extend %display-flex-align-items-center;
            gap: 19px;

            &__login {
                @include button-login;
                border: 1px solid $Primary;
                color: $Primary;
                
                &--signup {
                    @include  button-login;
                    border: 1px solid $Dark;
                    color: $Dark;
                }
            }

            &__signup {
                @include button-signup;
                background-color: $Primary;

                &--signup {
                    @include button-signup;
                    background-color: $Highlight;
                }
            }
        }
    }

}