// _styles.scss
@import '../styles/styles';

.products {
    margin: 0px 50px 20px 50px;
    padding: 15px;
    height: auto;
    @extend %display-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}