// _styles.scss
@import '../styles/styles';

.base {
    margin: 0px 50px 20px;
    min-height: 330px;
    max-height: 330px;
    border-radius: 25px;
    background-color: $Primary;
    background-image: url('../assets/About-image.png');
    background-size: cover;
    @extend %display-flex;
    justify-content: flex-end;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    &__about {
        @extend %display-flex-flex-direction-column ;
        min-width: 57%;
        max-width: 57%;
        min-height: 200px;
        max-height: 200px;
        margin-top: 35px;
        border-radius: 25px 0px 0px 25px;
        background-color: $Tranparent;

        &__text {
            @extend %display-flex-flex-direction-column ;
            margin: 45px 0px 0px 55px;

            &--title {
                font-size: $Display-Large;
                font-weight: bolder;
                color: $Primary;
            }

            &--subtitle {
                font-size: $Display-Medium;
                font-weight: 500;
                color: $Primary;
            }
        }

    }
}