// _styles.scss
@import '../styles/styles';

.footer {
    max-width: 100%;
    min-height: 220px;
    padding: 0px 100px 0px;
    background-color: $Primary;
    @extend %display-flex-align-items-center;

    &__information {
        min-width: 60%;
        max-width: 60%;
        @extend %display-flex;
        gap: 70px;

        &--main {
            font-size: $Label-large;
            font-weight: 500;
            color: $Bright;
        }

        &--content {
            font-size: $Label-large;
            font-weight: 500;
            color: $Light-Text;
        }

        &__policy {
            min-width: 155px;
            @extend %display-flex-flex-direction-column ;
            gap: 10px;
        }

        &__about {
            min-width: 155px;
            @extend %display-flex-flex-direction-column ;
            gap: 10px;
        }

        &__categories {
            min-width: 155px;
            @extend %display-flex-flex-direction-column ;
            gap: 10px;
        }

        &__brands {
            min-width: 155px;
            @extend %display-flex-flex-direction-column ;
            gap: 10px;
        }
    }

    &__right {
        min-width: 40%;
        @extend %display-flex;
        justify-content: end;

        &__container {
            @extend %display-flex-flex-direction-column ;
            gap: 7px;
            
            &__location {
                @extend %display-flex-align-items-center;
                justify-content: end;
                gap: 5px;

                .bi-geo-alt {
                    font-size: 20px;
                    color: $Bright;
                }

                &__text {
                    font-size: $Label-large;
                    color: $Bright;
                }
            }

            &__bugis-rights {
                &__text {
                    font-size: $Label-large;
                    color: $Light-Text;
                }
            }

        }
    }
}